body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 450px;
  max-width: 320px;
  max-height: 450px;
  width: 320px;
  height: 450px;
  overflow: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  flex: 1;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
